@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

    <div class="jumbotron">
        <h1>IMPACTMAP</h1>
        <p class="lead">WELCAME TO OUR PROJECT ;)</p>
    </div>

    <div id="register" class="alert-danger" onclick="getRegister()">
        Register
    </div>
    <div id="login" class="alert-danger" onclick="getLogin()">
        Login
    </div>

    <div id="resultDiv"></div>

    @Html.Partial("_Map")

    <script>
        function getRegister() {
            $.ajax({
                url: "/account/register/",
                type: 'GET',
                success: function (result) {
                    $("#resultDiv").html(result);
                }
            });
        }

        function getLogin() {
            $.ajax({
                url: "/account/login/",
                type: 'GET',
                success: function (result) {
                    $("#resultDiv").html(result);
                }
            });
        }
    </script>
