@model ImpactMap.Models.Category

@{
    ViewBag.Title = "Tag Details";
}
<div class="container">
    <div class="pageInfo">
    <h2>fa-ellipsis-h@ViewBag.Title</h2>

    <div class="subNav">
        <a href=@Url.Action("Edit", new { id = Model.ID })><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
        <a href=@Url.Action("Index", "Categories")><i class="fa fa-list-alt" aria-hidden="true" title="Tags List"></i></a>
        <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
    </div>
    </div>


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

        </dl>
    </div>
   

</div>
