@model IEnumerable<ImpactMap.Models.Report>

@{
    ViewBag.Title = "Reports List";
}

<div class="container">

    <div class="pageInfo">
        <h2>@ViewBag.Title</h2>

        <div class="subNav">
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>
    </div>

    <hr />

    <div class="dashHeading">
        <h2>Reports Owed to My Organization</h2>
        </div>
        <table class="table">
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>

                <th>
                    Recipient
                </th>

                <th>
                    Report Details
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        Amount
                    </td>

                    <td>
                        Date
                    </td>

                    <td>
                        Recipient
                    </td>

                    <td>
                        View Report
                    </td>

                </tr>
            }

        </table>
    



    <div class="dashHeading">
        <h2>Reports Owed to Investors</h2>
    </div>
    <table class="table">
        <tr>
            <th>
                Project
            </th>
            <th>
                Date
            </th>
            <th>
                Date
            </th>

            <th>
                Amount
            </th>

            <th>
                Report Details
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Project
                </td>

                <td>
                    Investor
                </td>

                <td>
                    Date
                </td>

                <td>
                    Amount
                </td>

                <td>
                    View Report
                </td>

            </tr>
        }

    </table>

    <div class="dashHeading">
        <h2>Reports Submitted to Investors</h2>
    </div>
    <table class="table">
        <tr>
            <th>
                Project
            </th>
            <th>
                Date
            </th>
            <th>
                Date
            </th>

            <th>
                Amount
            </th>

            <th>
                Report Details
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Project
                </td>

                <td>
                    Investor
                </td>

                <td>
                    Date
                </td>

                <td>
                    Amount
                </td>

                <td>
                    View Report
                </td>

            </tr>
        }

    </table>
    

<div class="dashHeading">
    <h2>Investment Reports</h2>
</div>
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Date
        </th>
        <th>
            Date
        </th>

        <th>
            Amount
        </th>

        <th>
            Report Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                Project
            </td>

            <td>
                Investor
            </td>

            <td>
                Date
            </td>

            <td>
                Amount
            </td>

            <td>
                View Report
            </td>

        </tr>
    }

</table>



</div>
